version: "3"

services:
  client:
    image: "node:14-alpine"
    user: node
    working_dir: /home/node/app
    environment:
      - NODE_ENV=${NODE_ENV:-production}
    volumes:
      - ./:/home/node/app
    ports:
      - "3000:3000"
    command: ./run.sh
